.big-card{
border-radius: 10px;
margin: 5px;
background-size: cover;
height: 35vh;
padding: 45px;
  .card-description {
  text-align: center;
  color: white;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

@media(min-width: 800px) {
 .big-card{
  background-position: center;
  height: 400px;
   }
}
