.bio {
  margin-top:20px;
  margin-bottom:10px ;
  display:flex;
  justify-content: left;
  margin-left: 5px;
}
.guide-name {
  margin-left: 30px;
}

.guide-description {
  text-align: left;
  margin-left: 5px;
  font-family: Lato;

}


.back-btn {
  text-align: left;
  margin-top: 20px;
}