.titel-index p {
  margin-left: 5px;
    margin-top: 20px;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.5;
    color: #848282;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1,2;
}
