 <div class="card carousel-cell">
   <%= link_to guide_path(guide), class: "card-link" do %>
   <div class="avatar-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path guide.photo, crop: :fill, secure: true %>');">
     <div class="card-title">
       <%= guide.name %>
     </div>
   </div>
   <%end %>
 </div>

