
<div id="myCarousel" data-ride="carousel" data-flickity='{ "cellAlign": "left", "freeScroll": true, "pageDots": false}'>
   <div class="card carousel-cell">
    <div class="card-image">
      <div class="card-title">Berlin</div>
    </div>
  </div>

  <div class="card carousel-cell">
    <div class="card-image">
      <div class="card-title">Berlin</div>
    </div>
  </div>

  <div class="card carousel-cell">
    <div class="card-image">
      <div class="card-title">Berlin</div>
    </div>
  </div>

</div>

