
<div class="audio-box">
  <input id="audio-file" value="" class="hidden"></input>
  <div id="siriwave"></div>
  <div class="controls">
    <button id="play"><i class="fas fa-play"></i> </button>
    <button id="pause"><i class="fas fa-pause"></i></button>
  </div>
</div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<%= javascript_pack_tag "init_howler" %>



