
<div class="col-xs-12">
  <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'banner.png' %>');">
    <div class="card-description">
      <h1>Book Audiotours Worldwide</h1>
    </div>
  </div>
</div>

