<div class="col-xs-12">
  <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://localsguide.com/wp-content/uploads/2016/02/locals_guide_audio_tour-1030x687.png');">
    <div class="card-description">
      <h2>Book Audiotours worldwide</h2>
      <p>Discover cities like a local</p>
      <!-- <a class="card-link" href="#" ></a> -->
    </div>
  </div>
</div>



