<div class="bigcardindex">
   <div class="titel-index">
      <%= link_to tour.title, tour_path(tour) %>
    </div>
<div class="col-xs-12">
  <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path tour.photo, crop: :fill %>');">

</div>
</div>


