<h1>Pages#home</h1>

<hr>
<p>Popular Cities</p>
<%= render 'shared/cardswap' %>


<p><%= link_to "click me to go to show page", tour_path(@tours[0]) %></p>
<p><%= link_to "click me to go to index page", tours_path %></p>