.audio-box{
  padding: 40px;
  height: 100vh;
  background: linear-gradient(235deg , #00818A, #49b6bd);
}

#audio-picture {
  height: 200px;
  margin-bottom: 22px;
  box-shadow: 4px 3px 15px 1px rgba(0, 0, 0, 0.14);
}
.controls {
  justify-content: center;
  display: flex;
  margin: 30px;
}

.fas {
  font-size: 30px;
  color:white !important;
}

.fa-play, .fa-pause {
  width: 50px;
  height: 50px;
}

.progression {
  position: relative;
}

#audio-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  opacity: 0.9;
}
#audio-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #374955;
}

.audio-information {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: white;
  color: white;
  font-size: 20px;
}

.audio-header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: -15px;
  margin-bottom: 90px;
}

.audio-title h3 {
      font-size: 31px;
    color: white;
    text-align: center;
}

#title{
  text-align: center;
  opacity: 0,5;
}
