.btn-localo {
 color: #00818a;
 border: 1px solid #00818a;
 padding: 10px 15px;
 border-radius: 50px;
 font-weight: lighter;
 opacity: 0.6;
 margin: 5px;
}
.btn-localo:hover {
  opacity: 1;
  text-decoration: none;
  color: #00818a;
  border: 1px solid #00818a;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 5px;
}

