.avatar-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 5px;
  margin-left: 0px;
  background-position: center;
  }

.sublines-avatar .flickity-viewport {
  height: 150px !important;
  }

.sublines-avatar .card .carousel-cell {
  height: 200px;
  width: 150px;
  }

.sublines-avatar .carousel-cell {
  width: 37%;
  height: 24vh;
  margin-right: 5px;
  background: white;
  border-radius: 5px;
}

.sublines-avatar {
  margin-left: 20px;
  margin-top: 10px;
  font-family: Brandon, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #5f5b5b;
}

.sublines-avatar .flickity-viewport {
  margin-left: 0px;
}
