.card-link {
  text-decoration: none !important;
}

.big-card{
  border-radius: 5px;
  background-size: cover;
  height: 35vh;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 11px;
  padding: 45px;
  width: 98vw;
  margin-top: 5px;
  position: relative;
 .card-description {
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-family: Roboto;
    line-height: 30px;
        margin-top: 6vh;

  }

}

.container-carousel {
  margin-left: 15px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    background-color: black;
    border-radius: 3px;
    right: 50%;
    height: 26px;
    padding: 2px;
    width: 26px;
    margin-right: -10px;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    background-color: black;
    border-radius: 3px;
    right: 50%;
    height: 26px;
    padding: 2px;
    width: 26px;
    margin-right: -10px;
}

.big-card .guide-avatar {
  position:absolute;
  bottom: 10px;
  right: 10px;
}

.flickity-carousel {
  overflow: hidden;
  &:focus {
    outline: none;

  }
}


.flickity-carousel-container {
  margin-left: 0px;
}

.card.carousel-cell {
  width: 70vw;
  position: relative;
  margin: 15px 15px;
  height: 20vh;
  border-radius: 7px;
  background-size: cover;
  //background: rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 15px 1px rgba(0, 0, 0, 0.14);
  transition: 0.2s all linear;
  // border: 1px solid rgba(128, 128, 128, 0.15);
  box-sizing: border-box;
  &:active {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
  }
}
.card .card-title {
  color: white;
    margin-left: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 45px;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 27px;
    font-family: Roboto;

    &:focus{
      outline:0;
      text-decoration:none
    }
}

.card .card-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(berlin.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  //margin-left: 4px;
}
.card .card-info {
  position: relative;
  width: 100%;
  height: 35vh;
  line-height: 35px;
  top: -265px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;

}
.card .card-info .card-title {
  line-height: 35px;
  height: 35px;
  position: relative;
  top: 0px;
  font-size: 25px;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
}

.card:hover {
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
}
.card:hover .card-info .card-title {
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s all linear;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel {
  background: white;
}
.carousel-cell {
  width: 66%;
  height: 20vh;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  margin-left: 20px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.hr {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  border-bottom: 0.5px solid #777;

}

@media(min-width: 800px) {
 .big-card{
  background-position: center;
  height: 400px;
   }
}

.sublines p {
   margin-left: 5px;
  margin-top: 20px;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  color: #848282;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1,2;

}

.sublines-avatar p {
   margin-left: 5px;
  margin-top: 20px;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  color: #848282;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1,2;
}

.sublines-avatar {
  margin-left: 4px !important;
}

.card .card-city2 {
  color: white;
  position: absolute;
  bottom: 104px;
  font-weight: 100;
  left: 11px;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  font-family: Roboto;
}

.card .card-title2 {
  color: white;
  // margin-left: px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 66px;
  font-size: 23px;
  text-align: left;
  margin-left: 7px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 27px;
  font-family: Roboto;
}

.bigcardindex .description-index {
  font-size: 16px;
  font-color: #D9D945;
  margin-right: 15px;
  font-family: Lato;
  text-align: left;

  a:focus {
    text-decoration: none;
    outline: 0;
    opacity: 0.3;
  }
}

.profile-page h3 {
  font-size: 25px;
  margin-left: 10px;
  color: #207387;
}

.card .card-delete {
  color: white;
  position:absolute;
  bottom:2px;
  left:8px;
}

.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.big-card .card-description-banner {
    text-align: center;
    color: #ffffff;
    /* font-weight: 900; */
    /* font-size: 75px; */
    text-shadow: 0 2px 13px rgba(53, 53, 53, 0.6);
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
    font-family: Roboto;

    h1 {

    }
}

.container-login {
    padding-left: 25px;
    padding-right: 25px;
}

.guide-btn .back-btn {
  margin-left: 70px;
}
